# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
torch=1.13.0+cu116=pypi_0
torchaudio=0.13.0+cu116=pypi_0
torchvision=0.14.0+cu116=pypi_0
whisper=1.0=pypi_0
pyaudio=0.2.12=pypi_0
pydub=0.25.1=pypi_0


